---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';
import Carousel from '../components/Carousel.jsx';
import companies from '../data/companies.json';
import { Image } from 'astro:assets';

import fairSourceImage from '../assets/home/fairsource.png';
import embraceFairSourceImage from '../assets/home/embraceFairSource.png';
import learnFairSourceImage from '../assets/home/learnFairSource.png';
import heroImage from '../assets/home/homeHeroImage.png';

const seoMeta = {
  description: 'Whether you’re a developer looking to contribute or a business aiming to innovate, we the provide steps to successfully implement Fair Source in your projects. Join the community of ethical and innovative software sharing, balancing collaboration with control for everyone involved.',
};

const mobileSectionCommonClasses = 'z-0 pb-0 pt-[12.31rem] sm:pt-[9.12rem] sm:pb-[1.56rem] sm:px-[3rem] md:pt-[6.69rem] md:pb-[7.44rem] lg:px-0 lg:py-0';
const mobileSectionBackgroundImageClasses = 'absolute h-[12.31rem] top-0 left-0 sm:bottom-0 sm:h-auto sm:bottom-0 sm:right-0 md:top-[1rem] md:bottom-[1rem] md:left-[1rem] md:w-auto md:h-auto lg:right-0 lg:bottom-0 lg:left-0 lg:top-0';

const desktopSectionCommonClasses = '';
const desktopSectionBackgroundImageClasses = '';

const mobileSectionCenteredBackground = 'top-0 left-0 sm:bottom-0 md:left-[1rem] md:right-[1rem] md:bottom-[1rem]';
const mobileSectionContentClasses = 'z-10 pt-[1.5rem] pb-[1rem] relative w-12/12 px-[1rem] bg-white sm:border sm:border-borderGray sm:rounded-small sm:p-[2rem] lg:border-0 lg:rounded-none lg:bg-transparent';

---

<Layout title="Software Sharing for Modern Companies" seo={seoMeta}>
  <header>
    <div class="relative container-spill pl-[0.5rem] sm:pl-[1rem] md:pl-[1.5rem] lg:pl-[2rem] xl:pl-[1.5rem] 2xl:pl-[3.62rem] 3xl:pl-[6.62rem]">

      <div class="w-12/12 lg:w-6/12 lg:py-[7.19rem] flex items-center">
        <div>
          <h1 class="text-black mb-4">
            Software Sharing for Modern Companies
          </h1>
          <p class="text-balance text-black text-[1.5rem] xl:text-[2rem] leading-[130%] font-sans font-[500] mb-6">Balance innovation and protection with Fair Source licensing.</p>
          <div class="flex flex-wrap gap-4">
            <Button type="primary" url='/join' color="teal" cta="Join Fair Source" />
            <Button type="secondary" url='/faq' color="black" cta="Learn More" />
          </div>
        </div>
      </div>

      <div class="absolute w-0 lg:w-[47%] 3xl:w-[48%] top-0 right-0 3xl:top-[-1rem] 3xl:right-[-3rem] 2xl:right-[-1rem] xl:right-[-4rem] xl:top-[2rem] lg:right-[-3.5rem]">
        <Image src={heroImage} alt="hero image" densities={[1, 1.5, 2, 3, 4]} class="relative"/>
      </div>

    </div>
  </header>
	<main>
    {
      companies && <section class="w-full mb-[3.25rem]">
        <Carousel companies={companies} client:load client:only="react" />
      </section>
    }
    <Section
      sectionStyles="px-[1.5rem] xl:px-[3.5rem] py-[2.75rem] xl:py-[5.5rem]"
    >
      <!--<div class="relative w-12/12 p-[25%] xl:p-[10%] xl:w-1/2 flex justify-center items-center xl:order-12 lg:p-[25%]">-->
      <!--  <Image src={fairSourceImage} alt="Adopt Fair Source" densities={[1, 1.5, 2, 3, 4]} class="absolute xl:w-[75%] xl:top-[-4.5rem] xl:left-[7rem] 2xl:w-[65%] 2xl:top-[-3.5rem] 2xl:left-[9.5rem]" />-->
      <!--</div>-->
      <div class=`${mobileSectionCommonClasses} w-12/12 relative flex flex-wrap justify-between pb-[3rem] sm:mb-[3rem] lg:gap-x-[3rem] lg:mb-0 lg:h-[100%] xl:pb-[5.59rem]`>
        <div class={`z-10 relative w-12/12 lg:h-[100%] lg:w-6/12 lg:order-1`}>
          <div class={`border border-borderGray bg-white rounded-small lg:h-[100%] lg:pb-[2rem]`}>
            <div class="w-12/12 px-[1rem] xl:px-[2rem] pb-[2rem] xl:pb-0">
              <span class="text-teal tag mt-[4rem]">Embrace Fair Source</span>
              <h2>Learn how to adopt Fair Source at your company</h2>
              <div class="section-body-spacing">
                <p>Whether you’re a developer looking to contribute or a business aiming to innovate, we the provide steps to successfully implement Fair Source in your projects. Join the community of ethical and innovative software sharing, balancing collaboration with control for everyone involved.</p>
              </div>
              <Button type="secondary" cta="join fair source" url="/join" color="teal" />
            </div>
          </div>
        </div>
        <div class={`${mobileSectionBackgroundImageClasses} lg:relative lg:w-5/12 h-[100%]`}>
          <Image src={embraceFairSourceImage} alt="Fair Source License" class="w-[100%] relative h-auto" />
        </div>
      </div>
    </Section>

    <Section
      sectionStyles="px-[1.5rem] xl:px-[3.5rem] py-[2.75rem] xl:py-[5.5rem]"
    >
      <div class={`${mobileSectionCommonClasses} w-12/12 relative flex flex-wrap justify-between pb-[3rem] sm:mb-[3rem] lg:gap-x-[3rem] lg:mb-0 lg:h-[100%] xl:pb-[5.59rem]`}>
        <div class={`${mobileSectionBackgroundImageClasses} lg:relative lg:w-5/12 h-[100%]`}>
          <Image src={learnFairSourceImage} alt="Fair Source License" class="w-[100%] relative h-auto" />
        </div>

        <div class={`z-10 relative w-12/12 lg:h-[100%] lg:w-6/12`}>
          <div class={`border border-borderGray bg-white rounded-small lg:h-[100%] lg:pb-[2rem]`}>
            <div class="w-12/12 px-[1rem] xl:px-[2rem] pb-[2rem] xl:pb-0">
              <span class="tag text-orange mt-[4rem]">Understand Fair Source</span>
              <h2>Find answers to your questions about Fair Source</h2>
              <div class="section-body-spacing">
                <p>Looking for detailed information about Fair Source? Discover in-depth answers and insights to help you fully understand its benefits and applications. From licensing details to implementation tips, find everything you need to make the most of Fair Source.</p>
              </div>
              <Button type="secondary" cta="learn more" url="/faq" color="orange" />
            </div>
          </div>
        </div>
      </div>
    </Section>
	</main>
</Layout>

<style>

</style>
