---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Button from '../components/Button.astro';
import Carousel from '../components/Carousel.jsx';
import companies from '../data/companies.json';
import { Image } from 'astro:assets';

import fairSourceImage from '../assets/home/fairsource.png';
import heroImage from '../assets/home/homeHeroImage.png';

const seoMeta = {
  description: 'Fair Source is software sharing for modern businesses. Engage the developer community with your core product while maintaining ownership of your roadmap and business model.',
};

const mobileSectionCommonClasses = 'z-0 pb-0 pt-[12.31rem] sm:pt-[9.12rem] sm:pb-[1.56rem] sm:px-[3rem] md:pt-[6.69rem] md:pb-[7.44rem]';
const mobileSectionBackgroundImageClasses = 'h-[12.31rem] top-0 left-0 sm:bottom-0 sm:h-auto md:top-[1rem] md:bottom-[1rem] md:left-[1rem] md:w-auto md:h-auto';
const mobileSectionCenteredBackground = 'top-0 left-0 sm:bottom-0 md:left-[1rem] md:right-[1rem] md:bottom-[1rem]';
const mobileSectionContentClasses = 'z-10 pt-[1.5rem] pb-[1rem] relative w-12/12 px-[1rem] bg-white sm:border sm:border-borderGray sm:rounded-small sm:p-[2rem] lg:border-0 lg:rounded-none lg:bg-transparent';

---

<Layout title="Software Sharing for Modern Companies" seo={seoMeta}>
  <header>
    <div class="container-spill relative mx-auto flex flex-wrap items-stretch px-[0.5rem] sm:px-[1rem] md:px-[1.5rem] lg:px-[2rem] xl:px-[1.5rem] 2xl:px-[3.62rem] 3xl:px-[6.62rem] pb-[0.5rem] pb-[1rem] items-stretch">
      <div class="relative w-12/12 mx-auto flex lg:w-6/12 lg:h-[100%] lg:order-12">
        <div class="">
         <Image src={heroImage} alt="hero image" densities={[1, 2, 3, 4]}/>
        </div>
      </div>
      <div class="w-12/12 py-[3rem] h-[100%] lg:w-6/12 lg:py-[8rem] xl:pb-[4rem] xl:pt-[3rem] 2xl:pb-[7.5rem] 2xl:pt-[6rem]">
        <h1 class="text-black mb-4">
          Software Sharing for Modern Businesses
        </h1>
        <p class="text-balance text-black text-[1.5rem] xl:text-[2rem] leading-[130%] font-sans font-[500] mb-6">Engage the developer community with your core product.</p>
        <div class="flex flex-wrap gap-4">
          <Button type="primary" url='/join/' color="teal" cta="Join Fair Source" />
          <Button type="secondary" url='/about/' color="black" cta="Learn More" />
        </div>
      </div>
    </div>
  </header>
  <main>
    {
        companies && <section class="w-full mb-[3.25rem] xl:ml-[-1rem] 2xl:ml-[1rem] 3xl:ml-[3.62rem]">
          <Carousel companies={companies} client:load client:only="react" />
        </section>
    }
    <Section
      sectionStyles={`${mobileSectionCommonClasses} lg:p-0 lg:items-stretch justify-end`}
      backgroundStyling={`${mobileSectionBackgroundImageClasses} ${mobileSectionCenteredBackground} bg-[url('/images/background-images/embraceFairSource.svg')] w-[100%] bg-cover bg-no-repeat bg-top w-full bottom-0 top-0 left-0 right-0 min-h-[20rem] z-0 lg:right-0 lg:left-auto lg:w-[50%] lg:bg-contain lg:top-0 lg:bg-right lg:bottom-[26%] xl:w-[45%] xl:bottom-0 xl:bg-[position:center_right] xl:bg-contain`}
    >
      <div class="w-12/12 relative mr-[-0.5rem] lg:w-6/12 lg:order-12 overflow-clip lg:overflow-visible">
        <div class="hidden lg:block lg:absolute h-auto lg:w-[50%] top-[25%] left-[25%] h-auto bottom-[25%]">
          <Image src={fairSourceImage} alt="Adopt Fair Source" densities={[1, 1.5, 2, 3, 4]} class="relative w-[100%] h-auto" />
        </div>
      </div>
      <div class={`${mobileSectionContentClasses} lg:h-full lg:w-6/12 lg:py-[3rem] lg:pr-[3rem] lg:pt-[2rem] xl:w-6/12 xl:pt-[3rem] xl:pl-[4rem] xl:pb-[3rem]`}>
        <span class="text-teal tag">Embrace Fair Source</span>
        <h2>Learn how to adopt Fair Source at your company</h2>
        <div class="section-body-spacing">
          <p>Fair Source is designed for companies that want to deeply engage the developer community with their core products,  while being clear about governance and roadmap ownership. If this sounds like you, then read our guide to adoption for concrete steps you can take to join Fair Source today.</p>
        </div>
        <Button type="secondary" cta="Join Fair Source" url="/join/" color="teal" />
      </div>
    </Section>

    <Section
      sectionStyles={`${mobileSectionCommonClasses} lg:p-0 lg:items-stretch`}
      backgroundStyling=`${mobileSectionBackgroundImageClasses} ${mobileSectionCenteredBackground} bg-[url('/images/background-images/learnfairsource.svg')] w-[100%] bg-cover bg-no-repeat bg-top w-full bottom-0 top-0 left-0 right-0 min-h-[20rem] z-0 lg:top-0 lg:bottom-0 lg:left-0 lg:right-auto lg:w-[45%] lg:bg-center lg:bg-cover lg:bg-right lg:top-0 xl:bg-cover xl:top-0 xl:bg-right`
    >
      <div class="w-12/12 relative mr-[-0.5rem] lg:w-6/12 lg:h-[100%] lg:order-12 overflow-clip lg:overflow-visible">
      </div>
      <div class=`${mobileSectionContentClasses} w-12/12 lg:w-1/2 lg:order-12 lg:py-[2rem] xl:py-[7rem]`>
        <span class="tag text-orange">Understand Fair Source</span>
        <h2>Read all about Fair Source and find answers to your questions</h2>
        <div class="section-body-spacing"></div>
        <Button type="secondary" cta="Learn More" url="/about/" color="orange" />
      </div>
    </Section>
  </main>
</Layout>

<style>

</style>
