---
const {type, cta, url, color, target, background = 'transparent'} = Astro.props;

const anchorTagClassList = `no-underline flex grow md:flex-[1 1 50%] lg:grow-0 lg:basis-auto lg:table-cell no-underline`;
const commonClassList = `px-[1.125rem] py-[0.78125rem] lg:px-6 md:py-[0.9375rem]lg:py-4 rounded-small text-[0.875rem] sm:text-[1rem] lg:text-[1.1875rem] 2xl:text-[1.25rem] font-[600] leading-[130%] tracking-[-0.025rem] w-full xl:w-auto`;
const primaryClassList = `bg-black border-2 border-black ${commonClassList} text-white hover:opacity-80`;
const secondaryClassList = `${commonClassList} bg-${background} border-2 border-${color} text-${color} hover:opacity-80`;
const buttonTaupeClassList = `${commonClassList} bg-taupe text-black hover:opacity-80`;

const classList = (type) => {
  switch(type) {
    case 'primary':
      return primaryClassList;
      break;
    case 'taupe':
      return buttonTaupeClassList;
      break;
    default:
      return secondaryClassList;
      break;
  }
}

---

<a href={url} target={target} class:list={`${anchorTagClassList}`}>
  <button class:list={`${classList(type)}`}>
    {cta}
  </button>
</a>
