---
import Button from './Button.astro';
import { Image } from 'astro:assets';

const { headline, subhead, buttonsData = [], heroImage, bottomMargin = '' } = Astro.props;

const containerClasses = `container flex flex-col flex-wrap mx-auto px-[0.5rem] sm:px-[1rem] md:px-[1.5rem] md:flex-row lg:px-[2rem] xl:px-[1.5rem] 2xl:px-[3.62rem] 3xl:px-[6.62rem] ${bottomMargin}`;
---
<div class={containerClasses}>
  <div class="w-12/12 md:order-last md:w-1/2">
      <Image class="w-[30rem] mx-auto md:w-full" src={heroImage} alt={headline} densities={[1, 2, 3, 4]} />
  </div>
  <div class="w-12/12 mb-[1.5rem] mt-[0.78375rem] md:my-auto md:pr-[2.02625rem] md:w-1/2">
    <h1 class="leading-[120%] mb-[1rem] text-[1.75rem] sm:text-[2rem] lg:text-[2.375rem] 2xl:text-[2.5rem] text-black md:tracking-[-0.06rem]">{headline}</h1>
    <p class="text-balance text-black text-[1rem] sm:text-[1.125rem] lg:text-[1.3125rem] 2xl:text-[1.375rem] md:tracking-[-0.0275rem] leading-[130%] font-sans font-[500]" set:html={subhead} />
    {buttonsData.length > 0 && (
      <div class="flex flex-wrap gap-[0.5rem] mt-6 md:gap-[1rem]">
       { buttonsData.map((button) => (
          <Button type={button.type} url={button.link} color={button.color} cta={button.text} />
        ))}
      </div>
    )}
  </div>
</div>
