---

  const {sectionStyles, backgroundStyling, backgroundBottomStyling, backgroundColor = false, isFirst = false, itemsTop = false, justify = false} = Astro.props;
  const backgroundClasses = `${backgroundStyling ? backgroundStyling : ''}`;
  const backgroundBottomClasses = `${backgroundBottomStyling ? backgroundBottomStyling : ''}`;
  const backgroundColorClass = `${backgroundColor ? backgroundColor : 'bg-white'}`;
  const sectionClasses = `${sectionStyles}`;

---

<section class={`container mx-auto px-[0.5rem] sm:px-[1rem] md:px-[1.5rem] lg:px-[2rem] xl:px-[1.5rem] 2xl:px-[3.62rem] 3xl:px-[6.62rem] ${isFirst ? 'pb-[0.5rem] pb-[1rem]' : 'py-[0.5rem] lg:py-[1.62rem]'}`}>
  <div class={`mx-auto relative flex flex-wrap rounded overflow-clip justify-center ${backgroundColorClass} ${sectionClasses} ${itemsTop ? 'items-top' : 'items-center'} ${justify ? justify : 'justify-center'}`}>
    <div class={`absolute ${backgroundClasses}`}></div>
    <slot />
    <div class={`absolute ${backgroundBottomClasses}`}></div>
  </div>
</section>