---
import { Image } from "astro:assets";

const { company } = Astro.props;
---

<a href={company.url}>
  <div class={`${company.background}`}>
    <Image src={company.logo} alt={company.name} />
  </div>
  <div>
    <p>{company.name} 
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
          <path d="M1 2H13M13 2V14M13 2L1 14" stroke="#191919" stroke-width="2.3"/>
        </svg>
      </span>
    </p>
    <p>Since {company.adoption}</p>
  </div>
</a>
