---
const links = [
  {
    name: 'Home',
    url: '/',
    target: ''
  },
  {
    name: 'How to Adopt Fair Source',
    url: '/howto/',
    target: ''
  },
  {
    name: 'FAQs',
    url: '/faq/',
    target: ''
  },
  {
    name: 'Fair Source Values',
    url: '/fsd/',
    target: ''
  },
  {
    name: 'Licenses',
    url: '/licenses/',
    target: ''
  }
];

const socialLinks = [
  {
    name: 'Github',
    url: 'https://github.com/fairsource/fair.io',
    icon: '',
    target: '_BLANK'
  },
  {
    name: 'X',
    url: 'https://x.com/fairsrc/',
    icon: '',
    target: '_BLANK'
  }
];

---

<nav class="relative px-4 py-4 flex justify-between items-center bg-transparent">
  <a class="text-3xl font-bold leading-none" href="/">
    <svg class="h-6" viewBox="0 0 186 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.03254 28.7455H3.14011V10.6501H0V6.76556H3.14011C3.17282 3.78742 3.92514 0 8.86427 0C11.939 0 13.6726 2.29835 14.2286 3.65793L14.3595 3.94927L10.696 5.3736L10.5652 5.08226C10.5652 5.08226 10.0091 3.85216 8.86427 3.85216C7.49047 3.85216 7.13067 4.88804 7.03254 6.73319H13.7053V10.6177H7.03254V28.7455Z" fill="#0D1B2A"/>
      <path d="M22.2097 29.8785C16.0603 29.8785 13.3454 25.9292 13.3454 22.0123C13.3454 17.189 17.4995 12.1715 24.434 12.1715C26.0694 12.1715 27.4105 12.2686 28.5881 12.5276C28.5881 11.9449 28.5226 11.1033 28.4899 10.6501H12.2333V6.76554H32.3497V7.08925C32.3497 7.08925 32.5132 12.4952 32.5132 14.0167C33.5599 14.6965 36.2421 16.9301 36.2421 22.4655V28.7455H32.3497V22.4655C32.3497 21.6562 32.3497 20.7822 32.1861 19.9406C31.1067 26.4148 27.6722 29.8461 22.2424 29.8461L22.2097 29.8785ZM24.4012 16.056C22.7331 16.056 17.2379 16.4769 17.2379 22.0123C17.2379 24.5049 19.1023 25.994 22.2097 25.994C28.261 25.994 28.4572 19.8435 28.5881 16.5416C27.4759 16.1855 26.1021 16.0237 24.4012 16.0237V16.056Z" fill="#0D1B2A"/>
      <path d="M40.985 28.7453H37.0926V6.8301H40.985V28.7453ZM40.985 4.85546H37.0926V0.744335H40.985V4.88784V4.85546Z" fill="#0D1B2A"/>
      <path d="M46.4802 28.7454H42.5878V6.83014H46.4802V11.1031C47.854 8.44869 49.8493 5.95612 53.7744 5.95612C56.0314 5.95612 57.7977 6.66828 59.008 8.09261L59.2042 8.31921L56.3258 11.2326L56.0968 10.9089C55.6062 10.2291 54.8211 9.84065 53.7744 9.84065C49.2605 9.84065 46.4802 14.3726 46.4802 18.5485V28.7777V28.7454Z" fill="#0D1B2A"/>
      <path d="M75.54 29.4575C66.316 29.4575 64.3534 23.1775 64.288 22.8862L64.1898 22.5624L67.9514 21.5266L68.0496 21.8179C68.1804 22.2064 69.5542 25.6053 75.54 25.6053C82.867 25.6053 82.867 23.7602 82.867 22.4006C82.867 20.8144 80.2829 19.908 75.1475 19.7785C71.5168 19.6491 64.8767 19.4225 64.8767 13.013C64.8767 9.54927 67.4608 5.85896 74.7877 5.85896C82.1146 5.85896 84.8622 10.1643 85.3856 11.0383L85.5491 11.3297L85.2547 11.5239L82.1146 13.1425L81.9511 12.8835C81.624 12.3332 79.7596 9.67875 74.7877 9.67875C72.9887 9.67875 68.7692 10.0025 68.7692 13.013C68.7692 14.5668 69.2271 15.6998 75.3111 15.9264H75.4419C78.5493 16.0559 86.8248 16.3472 86.8248 22.433C86.8248 29.4575 78.9418 29.4575 75.6054 29.4575H75.54Z" fill="#0D1B2A"/>
      <path d="M98.3713 29.6837C90.6846 29.6837 86.7921 25.6697 86.7921 17.8035C86.7921 10.5848 91.3388 5.92333 98.3713 5.92333C105.404 5.92333 109.983 10.3582 109.983 17.8035C109.983 22.9182 108.773 29.6837 98.3713 29.6837ZM98.3713 9.77549C93.4322 9.77549 90.6846 12.6241 90.6846 17.8035C90.6846 22.9829 93.2686 25.8316 98.3713 25.8316C103.474 25.8316 106.091 23.3713 106.091 17.8035C106.091 14.1456 104.75 9.77549 98.3713 9.77549Z" fill="#0D1B2A"/>
      <path d="M128.628 7.15356V28.4214H125.324V23.6952H125.062C123.754 26.4144 121.889 29.2954 117.768 29.2954C112.894 29.2954 111.095 25.9612 111.095 21.6558V7.15356H114.366V21.6234C114.366 24.1484 115.217 26.0583 117.768 26.0583C122.445 26.0583 125.389 21.3968 125.389 17.0591V7.15356H128.66H128.628Z" fill="#0D1B2A"/>
      <path d="M117.768 29.6192C113.254 29.6192 110.768 26.8029 110.768 21.6559V6.82991H114.661V21.6235C114.661 24.375 115.675 25.7346 117.735 25.7346C122.249 25.7346 125.029 21.2351 125.029 17.0592V6.82991H128.955V28.7451H124.997V24.5369C123.656 27.159 121.66 29.6192 117.768 29.6192Z" fill="#0D1B2A"/>
      <path d="M134.417 28.7454H130.525V6.83014H134.417V11.1031C135.791 8.44869 137.786 5.95612 141.711 5.95612C143.968 5.95612 145.735 6.66828 146.945 8.09261L147.141 8.31921L144.263 11.2326L144.034 10.9089C143.543 10.2291 142.758 9.84065 141.711 9.84065C137.197 9.84065 134.417 14.3726 134.417 18.5485V28.7777V28.7454Z" fill="#0D1B2A"/>
      <path d="M155.94 29.6837C148.744 29.6837 144.786 25.4431 144.786 17.8035C144.786 10.1639 149.071 5.92333 155.94 5.92333C158.949 5.92333 161.468 6.70023 163.398 8.22167L163.659 8.4159L161.239 11.4588L160.977 11.2646C159.734 10.2934 158.033 9.80786 155.907 9.80786C151.099 9.80786 148.678 12.4947 148.678 17.8359C148.678 23.1771 150.968 25.8639 155.907 25.8639C158.786 25.8639 160.781 25.1518 161.959 23.6627L162.155 23.4037L165.229 25.8315L165.033 26.0905C163.038 28.5184 159.963 29.7485 155.907 29.7485L155.94 29.6837Z" fill="#0D1B2A"/>
      <path d="M177.234 29.6514C166.93 29.6514 165.949 20.5227 165.916 17.4475C163.43 15.8937 162.318 14.178 161.86 13.2392L161.697 12.9155L161.991 12.7537L165.262 11.3941L165.393 11.6531C165.393 11.6531 165.753 12.3652 166.701 13.1745C168.304 8.54543 171.87 6.02048 176.743 6.02048C182.435 6.02048 185.967 9.90502 185.967 13.5306C185.967 14.5988 185.509 20.0372 176.449 20.0372C173.963 20.0372 171.739 19.7458 169.842 19.1631C170.299 23.9864 173.897 25.7345 177.201 25.7669H177.234C179.327 25.7669 180.865 25.1842 181.78 24.0512C181.78 24.0188 181.846 23.9864 181.846 23.9541L182.009 23.7598L185.313 25.6374L185.182 25.8963C185.182 25.8963 183.187 29.619 177.168 29.619L177.234 29.6514ZM170.169 15.2139C172 15.8613 174.126 16.185 176.482 16.185C179.033 16.185 182.075 15.7318 182.075 13.5629C182.075 11.8473 179.883 9.93739 176.743 9.93739C174.225 9.93739 171.183 11.3293 170.136 15.2462L170.169 15.2139Z" fill="#0D1B2A"/>
      </svg>
  </a>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center text-blue-600 p-3">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul class="hidden absolute top-0 right-0 lg:flex lg:mx-auto lg:flex lg:items-center lg:justify-end lg:w-[66.6%]">
    {             
      links.map((link) => <li class="mb-1">
        <a class="block p-4 text-[17px] font-medium text-black hover:bg-blue-50 hover:text-blue-600 rounded" href={link.url} target={link.target}>{link.name}</a>
      </li>)
    }
    {
      socialLinks.map((link) => <li class="mb-1">
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-[17px] text-black font-medium rounded-xl transition duration-200" href={link.url} target={link.target}>{link.name}</a>
      </li>)
    }
  </ul>
</nav>
<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <svg class="h-6" viewBox="0 0 186 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.03254 28.7455H3.14011V10.6501H0V6.76556H3.14011C3.17282 3.78742 3.92514 0 8.86427 0C11.939 0 13.6726 2.29835 14.2286 3.65793L14.3595 3.94927L10.696 5.3736L10.5652 5.08226C10.5652 5.08226 10.0091 3.85216 8.86427 3.85216C7.49047 3.85216 7.13067 4.88804 7.03254 6.73319H13.7053V10.6177H7.03254V28.7455Z" fill="#0D1B2A"/>
          <path d="M22.2097 29.8785C16.0603 29.8785 13.3454 25.9292 13.3454 22.0123C13.3454 17.189 17.4995 12.1715 24.434 12.1715C26.0694 12.1715 27.4105 12.2686 28.5881 12.5276C28.5881 11.9449 28.5226 11.1033 28.4899 10.6501H12.2333V6.76554H32.3497V7.08925C32.3497 7.08925 32.5132 12.4952 32.5132 14.0167C33.5599 14.6965 36.2421 16.9301 36.2421 22.4655V28.7455H32.3497V22.4655C32.3497 21.6562 32.3497 20.7822 32.1861 19.9406C31.1067 26.4148 27.6722 29.8461 22.2424 29.8461L22.2097 29.8785ZM24.4012 16.056C22.7331 16.056 17.2379 16.4769 17.2379 22.0123C17.2379 24.5049 19.1023 25.994 22.2097 25.994C28.261 25.994 28.4572 19.8435 28.5881 16.5416C27.4759 16.1855 26.1021 16.0237 24.4012 16.0237V16.056Z" fill="#0D1B2A"/>
          <path d="M40.985 28.7453H37.0926V6.8301H40.985V28.7453ZM40.985 4.85546H37.0926V0.744335H40.985V4.88784V4.85546Z" fill="#0D1B2A"/>
          <path d="M46.4802 28.7454H42.5878V6.83014H46.4802V11.1031C47.854 8.44869 49.8493 5.95612 53.7744 5.95612C56.0314 5.95612 57.7977 6.66828 59.008 8.09261L59.2042 8.31921L56.3258 11.2326L56.0968 10.9089C55.6062 10.2291 54.8211 9.84065 53.7744 9.84065C49.2605 9.84065 46.4802 14.3726 46.4802 18.5485V28.7777V28.7454Z" fill="#0D1B2A"/>
          <path d="M75.54 29.4575C66.316 29.4575 64.3534 23.1775 64.288 22.8862L64.1898 22.5624L67.9514 21.5266L68.0496 21.8179C68.1804 22.2064 69.5542 25.6053 75.54 25.6053C82.867 25.6053 82.867 23.7602 82.867 22.4006C82.867 20.8144 80.2829 19.908 75.1475 19.7785C71.5168 19.6491 64.8767 19.4225 64.8767 13.013C64.8767 9.54927 67.4608 5.85896 74.7877 5.85896C82.1146 5.85896 84.8622 10.1643 85.3856 11.0383L85.5491 11.3297L85.2547 11.5239L82.1146 13.1425L81.9511 12.8835C81.624 12.3332 79.7596 9.67875 74.7877 9.67875C72.9887 9.67875 68.7692 10.0025 68.7692 13.013C68.7692 14.5668 69.2271 15.6998 75.3111 15.9264H75.4419C78.5493 16.0559 86.8248 16.3472 86.8248 22.433C86.8248 29.4575 78.9418 29.4575 75.6054 29.4575H75.54Z" fill="#0D1B2A"/>
          <path d="M98.3713 29.6837C90.6846 29.6837 86.7921 25.6697 86.7921 17.8035C86.7921 10.5848 91.3388 5.92333 98.3713 5.92333C105.404 5.92333 109.983 10.3582 109.983 17.8035C109.983 22.9182 108.773 29.6837 98.3713 29.6837ZM98.3713 9.77549C93.4322 9.77549 90.6846 12.6241 90.6846 17.8035C90.6846 22.9829 93.2686 25.8316 98.3713 25.8316C103.474 25.8316 106.091 23.3713 106.091 17.8035C106.091 14.1456 104.75 9.77549 98.3713 9.77549Z" fill="#0D1B2A"/>
          <path d="M128.628 7.15356V28.4214H125.324V23.6952H125.062C123.754 26.4144 121.889 29.2954 117.768 29.2954C112.894 29.2954 111.095 25.9612 111.095 21.6558V7.15356H114.366V21.6234C114.366 24.1484 115.217 26.0583 117.768 26.0583C122.445 26.0583 125.389 21.3968 125.389 17.0591V7.15356H128.66H128.628Z" fill="#0D1B2A"/>
          <path d="M117.768 29.6192C113.254 29.6192 110.768 26.8029 110.768 21.6559V6.82991H114.661V21.6235C114.661 24.375 115.675 25.7346 117.735 25.7346C122.249 25.7346 125.029 21.2351 125.029 17.0592V6.82991H128.955V28.7451H124.997V24.5369C123.656 27.159 121.66 29.6192 117.768 29.6192Z" fill="#0D1B2A"/>
          <path d="M134.417 28.7454H130.525V6.83014H134.417V11.1031C135.791 8.44869 137.786 5.95612 141.711 5.95612C143.968 5.95612 145.735 6.66828 146.945 8.09261L147.141 8.31921L144.263 11.2326L144.034 10.9089C143.543 10.2291 142.758 9.84065 141.711 9.84065C137.197 9.84065 134.417 14.3726 134.417 18.5485V28.7777V28.7454Z" fill="#0D1B2A"/>
          <path d="M155.94 29.6837C148.744 29.6837 144.786 25.4431 144.786 17.8035C144.786 10.1639 149.071 5.92333 155.94 5.92333C158.949 5.92333 161.468 6.70023 163.398 8.22167L163.659 8.4159L161.239 11.4588L160.977 11.2646C159.734 10.2934 158.033 9.80786 155.907 9.80786C151.099 9.80786 148.678 12.4947 148.678 17.8359C148.678 23.1771 150.968 25.8639 155.907 25.8639C158.786 25.8639 160.781 25.1518 161.959 23.6627L162.155 23.4037L165.229 25.8315L165.033 26.0905C163.038 28.5184 159.963 29.7485 155.907 29.7485L155.94 29.6837Z" fill="#0D1B2A"/>
          <path d="M177.234 29.6514C166.93 29.6514 165.949 20.5227 165.916 17.4475C163.43 15.8937 162.318 14.178 161.86 13.2392L161.697 12.9155L161.991 12.7537L165.262 11.3941L165.393 11.6531C165.393 11.6531 165.753 12.3652 166.701 13.1745C168.304 8.54543 171.87 6.02048 176.743 6.02048C182.435 6.02048 185.967 9.90502 185.967 13.5306C185.967 14.5988 185.509 20.0372 176.449 20.0372C173.963 20.0372 171.739 19.7458 169.842 19.1631C170.299 23.9864 173.897 25.7345 177.201 25.7669H177.234C179.327 25.7669 180.865 25.1842 181.78 24.0512C181.78 24.0188 181.846 23.9864 181.846 23.9541L182.009 23.7598L185.313 25.6374L185.182 25.8963C185.182 25.8963 183.187 29.619 177.168 29.619L177.234 29.6514ZM170.169 15.2139C172 15.8613 174.126 16.185 176.482 16.185C179.033 16.185 182.075 15.7318 182.075 13.5629C182.075 11.8473 179.883 9.93739 176.743 9.93739C174.225 9.93739 171.183 11.3293 170.136 15.2462L170.169 15.2139Z" fill="#0D1B2A"/>
          </svg>
      </a>
      <button class="navbar-close">
        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        {
          links.map((link) => <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href={link.url} target={link.target}>{link.name}</a>
          </li>)
        }
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <ul>
        {
          socialLinks.map((link) => <li class="mb-1">
            <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" href={link.url} target={link.target}>{link.name}</a>
          </li>)
        }
        </ul>
      </div>
    </div>
  </nav>
</div>

<script>
  // Burger menus
  document.addEventListener('DOMContentLoaded', function() {
      // open
      const burger = document.querySelectorAll('.navbar-burger');
      const menu = document.querySelectorAll('.navbar-menu');
  
      if (burger.length && menu.length) {
          for (var i = 0; i < burger.length; i++) {
              burger[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  
      // close
      const close = document.querySelectorAll('.navbar-close');
      const backdrop = document.querySelectorAll('.navbar-backdrop');
  
      if (close.length) {
          for (var i = 0; i < close.length; i++) {
              close[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  
      if (backdrop.length) {
          for (var i = 0; i < backdrop.length; i++) {
              backdrop[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  });
  </script>
