---
import { Image } from 'astro:assets';
import logo from '../assets/navigation/logo-header.png';

const { links, socialLinks } = Astro.props;
---

<nav class="relative px-[3rem] py-[2.5rem] flex justify-between items-center bg-transparent">
  <a class="text-3xl font-bold leading-none" href="/">
    <Image src={logo} alt="Fair Source Licnese" />
  </a>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center text-blue-600 p-3">
      <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <div class="hidden relative lg:flex items-center lg:justify-end">
    <ul class="lg:flex items-center lg:justify-end mr-6">
      {             
        links && links.map((link) => <li>
          <a class="block p-4 text-[1.25rem] font-[600] leading-[130%] text-black hover:underline" href={link.url} target={link.target}>{link.name}</a>
        </li>)
      }
    </ul>
    <ul class="flex gap-[0.38rem]">
      {
        socialLinks && socialLinks.map((link) => <li>
          <a class="hidden lg:flex lg:ml-auto lg:ml-2 h-[30px] w-[30px]" href={link.url} target={link.target}><Image src={link.icon} alt={link.name}/></a>
        </li>)
      }
    </ul>
  </div>
</nav>
<div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-[2.5rem] px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <Image src={logo} alt="Fair Source Licnese" />
      </a>
      <button class="navbar-close">
        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        {
          links.map((link) => <li class="mb-1">
            <a class="block p-4 text-[1.25rem] font-[600] text-black hover:underline" href={link.url} target={link.target}>{link.name}</a>
          </li>)
        }
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <ul class="flex items-center gap-5">
        {
          socialLinks.map((link) => <li class="mb-1">
            <a class="lg:mr-1 h-[30px] w-[30px]" href={link.url} target={link.target}><Image src={link.icon} alt={link.name}/></a>
          </li>)
        }
        </ul>
      </div>
    </div>
  </nav>
</div>

<script>
  // Burger menus
  document.addEventListener('DOMContentLoaded', function() {
      // open
      const burger = document.querySelectorAll('.navbar-burger');
      const menu = document.querySelectorAll('.navbar-menu');
  
      if (burger.length && menu.length) {
          for (var i = 0; i < burger.length; i++) {
              burger[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  
      // close
      const close = document.querySelectorAll('.navbar-close');
      const backdrop = document.querySelectorAll('.navbar-backdrop');
  
      if (close.length) {
          for (var i = 0; i < close.length; i++) {
              close[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  
      if (backdrop.length) {
          for (var i = 0; i < backdrop.length; i++) {
              backdrop[i].addEventListener('click', function() {
                  for (var j = 0; j < menu.length; j++) {
                      menu[j].classList.toggle('hidden');
                  }
              });
          }
      }
  });
  </script>
