---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import iconX from '../assets/navigation/x.png'
import iconGitHub from '../assets/navigation/github.png'

const links = [
  {
    name: 'Values',
    url: '/fsd/',
    target: ''
  },
  {
    name: 'Licenses',
    url: '/licenses/',
    target: ''
  },
  {
    name: 'FAQs',
    url: '/faq/',
    target: ''
  },
  {
    name: 'Adopt Fair Source',
    url: '/howto/',
    target: ''
  },
];

const socialLinks = [
  {
    name: 'Github',
    url: 'https://github.com/fairsource/fair.io',
    icon: iconGitHub,
    target: '_BLANK'
  },
  {
    name: 'X',
    url: 'https://x.com/fairsrc/',
    icon: iconX,
    target: '_BLANK'
  }
];


const { title, seo } = Astro.props;

const seoTitle = `${title} | Fair.io`;
const seoDescription = seo?.description ? seo.description : '';
const seoMetaImage = seo?.metaImage ? seo.metaImage : 'https://new.fair.io/images/metaimage.png';
const seoSlug = seo?.slug ? seo.slug : '';

const canonicalURL = `https://fair.io/${seoSlug}`;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={seoDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
    <meta charset="utf-8"/>
    <meta property="og:title" content={seoTitle}/>
    <meta property="og:description" content={seoDescription}/>
    <meta property="og:image" content={seoMetaImage}/>
    <meta property='og:url'  content={canonicalURL}/>
    <meta name='twitter:url' content={canonicalURL}/>
    <meta name='twitter:title' content={seoTitle}/>
    <meta name='twitter:description' content={seoDescription}/>
    <meta name="twitter:image" content={seoMetaImage}/>
    <link rel="canonical" href={canonicalURL}/>
		<title>{title}</title>
	</head>
	<body class="bg-background">
		<Navigation links={links} socialLinks={socialLinks} />
		<slot />
		<Footer links={links} socialLinks={socialLinks} />
	</body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    @font-face {
      font-family: 'Outfit';
      src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Plus Jakarta Sans';
      src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
      font-style: normal;
      font-display: swap;
    } 
    @font-face {
      font-family: 'Plus Jakarta Sans';
      src: url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
      font-style: italic;
      font-display: swap;
    }
  }
  html {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  }
  body {
    overflow-x: clip;
  }
  .container-spill {
    margin-left: 0;
    width: 100%;
    margin: auto;
    padding: 0 1.5rem;
    @media (min-width:640px){
      margin-left: calc((100% - 640px)/2);
      max-width: 640px;
    }
    @media (min-width:768px){
      margin-left: calc((100% - 768px)/2);
      max-width: 768px;
    }
    @media (min-width:1024px){
      margin-left: calc((100% - 1024px)/2);
      max-width: 1280px;
    }
    @media (min-width:1280px){
      margin-left: calc((100% - 1280px)/2);
      max-width: 1440px;
    }
    @media (min-width:1440px){
      margin-left: calc((100% - 1440px)/2);
      max-width: 1536px;
    }
    @media (min-width:1536px){
      margin-left: calc((100% - 1536px)/2);
      max-width: 1800px;
    }
  }
  h1 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    letter-spacing: -0.023px;
    @media (min-width:1280px){
      font-size: 4.5rem;
    }
  }
  h2 {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 3.125rem */
    letter-spacing: -0.0575rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.875rem */
  }
  h4 {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.875rem */
  }
  h5 {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: .75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.875rem */
  }
  h6 {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: .5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.875rem */
  }
  p {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    color: #191919;
    font-family: "Plus Jakarta Sans";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 1.85625rem */
    letter-spacing: -0.03438rem;
  }
  p.small {
    font-family: "Plus Jakarta Sans";
    color: #191919;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.625rem */
    letter-spacing: -0.03125rem;
  }
  p.hero {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.035rem;
  }
  .tag {
    display: block;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 1rem;
  }
  a.emphasizedLink {
    position: relative;
  }
  a.emphasizedLink::after{
    content: '';
    position: absolute;
  }
    /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
  .text-balance {
    white-space: balance;
  }
  .carousel-wrapper-left::before {
	  z-index: 1;
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 8rem;
	  bottom: 0;
	  flex-shrink: 0;
	  background: linear-gradient(
		  90deg,
		  #F2F0ED 7.69%,
		  rgba(31, 22, 51, 0) 92.31%
	  );
  }
  .carousel-wrapper-right::after {
	  z-index: 1;
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 8rem;
	  bottom: 0;
	  flex-shrink: 0;
	  background: linear-gradient(
		  270deg,
		  #F2F0ED 7.69%,
		  rgba(31, 22, 51, 0) 92.31%
	  );
  }
</style>
